{% extends 'saree_collection/base.html' %}
{% load sar_tmp_tags %}


{% block content %}
<section id="welcome" class="grid">
    <div class="welcome-text">
        <h2>Gadwal and Kanchipattu saree collections</h2>
        <p>
            Gadwal sari is a handcrafted woven sari style in Gadwal of Jogulamba Gadwal district in the Indian state of
            Telangana. It was registered as one of the geographical indication from Telangana by Geographical
            Indications of Goods (Registration and Protection) Act, 1999.[1][2] They are most notable for the Zari on
            the saris. The sari consists of cotton body with silk pallu which is also given a new name as Sico saris.
            The weave is so light that the saree can be packed in a matchbox.[3] The Brahmostsavas of Tirupati begins
            with the Gods idol being adorned with gadwal Saree.
        </p>
    </div>
    <div class="welcome-img">
        <img src="/media/home_page.jpg" alt="a banner saree">
    </div>
</section>

<section id="collections">
    {% reduced_collection_items as collections %}
    <div class="collections-text">
        
        {% if collections %}
            <h2>A few of the collections</h2>
        {% else %}
            <h2>No current collections are available. Check again later...</h2>
            <img src="/media/oops.jpg" alt="oops no collections">
        {% endif %}
            
    </div>
    <div class="grid">
        {% for collection in collections %}
        <div class="collection">
            <a href="{% url 'sar_coll:saree_coll' collection.collection_name%}">
                <p>{{collection}} collection</p>
                <img src="/media/{% collection_thumbnail collection %}" alt="">
                <p>{% number_of_items collection %} items</p>
            </a>
        </div>
        {% endfor %}
        
        {% if collections %}
        <a href="{% url 'sar_coll:all_coll' %}" class="collection-link">...More collections</a>
        {% endif %}
            
    </div>
</section>


{% endblock content %}