{% extends 'saree_collection/base.html' %}


{% block content %}
    <section id="welcome" class="grid">
        <div class="welcome-text">
            <h2>Gadwal and Kanchipattu saree collections</h2>
            <p>Havarounde a look </p>
            <img src="/media/indian-saree-design-19704686.jpg" alt="a banner saree">
            <a href="{% url 'sar_coll:all_coll' %}">View all the collections Here</a>
        </div>
        <div class="welcome-img">
        </div>

    </section>
{% endblock content %}
    