#about{
    position: relative;
    background: url(../media/beechupally.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
}

#about .primary-overlay, .showcase-footer-overlay{
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#aboutImg{
    margin-top: 100px;
}
.showcase-header {
    padding: 1rem;
    text-align: center;
    width: 50%;
    border-bottom: rgba(0, 0, 0, 0.5) 2px solid;
    margin: 0 auto;
}

.showcase-footer{
    position: relative;
    background: url(../media/saree_img_2.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 150px;
}
.showcase-footer-content{
    padding: 1rem;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #showcase {
        min-height: 500px; }
        #showcase h1 {
            font-size: 4rem; }
  
    .mb-resp {
        margin-bottom: 1rem; } }
        
@media (max-width: 1199px){
    #aboutImg{
        margin-top: 170px;
    }
}